# IDE
microservice-01.code-workspace

# BINARY
**/brokerApp
**/frontApp
**/authApp
**/loggerServiceApp
**/mailApp
**/listenerApp

# DB
project/db-data/*

logger-service/logs/logs.pb.go
logger-service/logs/logs_grpc.pb.go
