# IDE
microservice-01.code-workspace

# BINARY
**/brokerApp
**/frontApp
**/authApp
**/loggerServiceApp
**/mailApp
**/listenerApp

# DB
project/db-data/*

logger-service/logs/logs.pb.go
logger-service/logs/logs_grpc.pb.go
project/terraform/dev-ecr/.terraform.lock.hcl
project/terraform/dev-ecr/.terraform/modules/modules.json
project/terraform/dev-ecr/.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.2/darwin_amd64/terraform-provider-aws_v3.75.2_x5
project/terraform/dev-ecr/terraform.tfstate
project/terraform/dev-ecr/terraform.tfstate.backup
project/.env
front-end/frontEndApp
front-end/frontEndApp
logger-service/loggerServiceApp
front-end/frontEndApp
project/scripts/responses
